<nav class="teal accent-3">
    <div class="nav-wrapper">
    <a href="/inicio" class="brand-logo right">Sistema gestión de paquetes</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="/client">Clientes</a></li>
    <li><a href="/invoice">Facturas</a></li>
    <li><a href="/package">Paquetes</a></li>
    <li><a href="/shipment">Envios</a></li>
    <li><a href="/traceability">Seguimiento</a></li>
    <li><a href="/seguridad/login">Iniciar sesión</a></li>
    <li><a href="/seguridad/logout">Cerrar sesion</a></li>
    </ul>
    </div>
</nav>
